@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Sintony:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:300,400,400i,600,600i,700,700i');
body{
	margin:0;
	width: 100%;
	background: #f3f3f3;
}
.header{
	background: url('../img/bgpor.jpg') 50% no-repeat;
	background-size:cover;
	padding:0 0 50px;
}
.header__menu{
	width: 100%;
	margin:0 auto;
	padding: 30px 10%;
	background: linear-gradient(to top, rgba(38,38,38,0), rgba(38,38,38,0.8));
	overflow: hidden;
	margin-bottom: 120px;

}
.header__logo{
	font-family: Dancing Script;
	color:  #ffffff;
	font-size: 50px;
	font-weight: 600;
	text-decoration: none;
	line-height: 25px;
	float:left;
	width: 30%;
	margin-right: 9%;
	opacity: 0.8;
	cursor:pointer;

}
.header__logo:hover{
	opacity: 1;
	transform: scale(1.1);
}
.header__nav{
	float: left;
	width:40%;
	text-align: right;
}
.nav__item{
	font-family: Sintony;
	color:  #ffffff;
	font-weight: 700;
	line-height: 25px;
	font-size: 16px;
	text-decoration: none;
	margin: 10px;
	cursor:pointer;
	opacity: 0.8;
	padding: 10px 15px;
}

.nav__item:hover{
		border-radius: 50px;
		border-width: 1px;
		border-color:  #ffffff;
		border-style: solid;

	}
.active{
	border-radius: 50px;
	border-width: 1px;
	border-color:  #c3c3c3;
	border-style: solid;
}
.portfolio{
}

.portfolio-title{
	color:  #f3f3f3;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	opacity: 0.8;
	margin:0 0 25px;
	font-family: Sintony;
	font-weight: 600;
	letter-spacing: 2px;
	}

.portfolio-title2{
	background: rgba(38,38,38,0.4);
	border-radius: 50px;
	width:45%;
	margin:0 auto;
	font-family: Sintony;
	color:  #f3f3f3;
	opacity: 0.9;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: 400;
	letter-spacing: 0.5px;
	padding: 10px 20px;

}

.header__scroll{
	clear:both;
	display: block;
	margin:0 auto;
	width: 15px;
	height:15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #f3f3f3;
	font-weight: 600;
	font-size: 15px;
	padding: 20px 22px;
	margin-top: 60px;
	margin-bottom: 15px;
}
.header__scroll:hover{
	border-radius: 100px;
	opacity:0.7;
	background: #c3c3c3;
	color: #ffffff;
}
.button-group{
	text-align: center;
	margin: 0 0 60px;
}

.button{
	text-decoration: none;
	border: none;
	background: none;
	font-family: Sintony;
		color:  #81868e;
		font-weight: 700;
		line-height: 25px;
		font-size: 16px;
	text-align: center;
	margin: 10px;
		cursor:pointer;
		opacity: 0.8;
		padding: 10px 15px;
	outline: none;
	display: inline-block;
}
.button:hover{
	outline: none;
	border-radius: 50px;
	border-width: 1px;
	border-color:  #81868e;
	border-style: solid;
}

.photos{
	padding: 30px 0;
}
.is-checked{
	border-color: #000000;
	border-radius: 50px;
	border-width: 1px;
	border-style: solid;}

	.grid{
		width: 80%;
		margin:0 auto;
	}
	.element-item{
		margin: 0;
		padding: 5px;
		position: absolute;
		float: left;
		top:0;
		width:23%;
		margin-top: 8px;
		vertical-align: middle;
	}

	.contact{
		background: url('../img/back1.jpg') 50% no-repeat;
		background-size: cover;
		padding: 70px 0 90px;
		text-align: center;
	}

	.contact-title{
		font-family: Sintony;
		color:  #ffffff;
		font-size: 20px;
		font-weight: 400;
		line-height: 25px;
		text-align: center;
		margin-bottom:30px;
	}
	.contact-but{
		text-align: center;
		font-family: Sintony;
		color:  #ffffff;
		font-size: 16px;
		font-weight: 400;
		line-height: 12px;
		text-decoration: none;
		cursor:pointer;
		padding: 10px 25px;
		border-radius: 50px;
		border-width: 1px;
		border-color:  #ffffff;
		border-style: solid;
	}

	.contact-but:hover{
		background: #fff;
		opacity: 0.6;
		color:  #81868e;
	}


	.footer{
		padding: 50px 0 50px;
		text-align:center;
		background:  rgba(38,38,38,0.2);

	}



	.footer__aim{
		font-family: 'Sintony';
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		text-align: center;
		display: block;
		color: #ffffff

	}

	.footer__nav{
		text-align:center;
	}
	.footer__item{
		color:#fff;
		background-color:#3b5998;
		border-radius: 50px;
		cursor:pointer;
		padding: 5px;
		width: 20px;
		height: 20px;
		margin: 5px;
	}

	.footer__item--1{
		padding: 5px 9px;
	}

	.footer__item--3{
		background-color:#0e76a8;
		padding: 5px 7px;
		}
	.footer__item--4{
		background-color:#3f729b;
		padding: 5px 7px;
		}

		.footer__item:hover{
			color:#3d4fa1;
			background-color: rgba(38,38,38,0.6)

		}

	.header__logo--foot{
		display: block;
		font-family: Dancing Script;
		color:  #ffffff;;
		font-size: 50px;
		font-weight: 400;
		text-decoration: none;
		line-height: 30px;
		opacity: 0.8;
		cursor:pointer;
		text-align: center;
	}
	.header__logo--foot:hover{
		opacity: 0.7;
	}
